



body {
  background-image: url("/unnamed.png"); /* Ruta desde la carpeta public/ */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
  /* background-color: ; */
}


.cosas {
  display: flex;
  justify-content: center; /* Centrar los elementos horizontalmente */
  align-items: center; /* Centrar los elementos verticalmente */
  gap: 20px; /* Espacio entre los elementos */
  text-align: center; /* Centrar el texto */
  margin-top: 20px; /* Margen superior */
}

.cosas img {
  width: 100px; /* Ajusta el tamaño de las imágenes */
  height: auto; /* Mantiene la proporción */
}

h1 {
  font-size: 24px;
  color: white;
  font-weight: bold;
}

















/* .cosas {
  width: 98vw;
  height: 14vh;
  background-color: dimgrey;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.cosas img {
  vertical-align: middle;
  width: 99px;
  height: 88px;
  left:   94px;
  position: relative;
} */